body {
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

/*Блок 1*/

.slider {
    width: 100%;
    min-height: 1024px;
    background-color: rgba(17, 17, 17, 0.7);
    background-image: url(../img/slider.jpg);
    background-size: cover;
    background-position: top;
    background-blend-mode: darken;
}

.slider-menu {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #ffffff;
    padding-right: 219px;
    
}
  
.logo-link:hover .logo-icon {
    fill: #c7b299;
}
  
.logo-link:hover .logo-span {
    color: #c7b299;
}
  
.logo-link:active .logo-icon {
    fill: #998675;
}
  
.logo-link:active .logo-span {
    color: #998675;
}
  
.logo-icon {
    fill: CurrentColor;
}
  
.logo-span {
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.menu-list-item {
    padding: 0 30px 0 0;
    display: inline-block;
}

.menu-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;    
}

.menu-link:hover {
    color: #c7b299;
}

.menu-link:active {
    color: #998675;
}

/*Блок 1-1*/

.slider-h2 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
}

.slider-h1 {
    color: #ffffff;
    font-size: 52px;
    font-weight: 400;
}

.slider-content {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
